<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/*
  head 태그를 조각(fragment)으로 만든다.
    - 조각이름 : head
    - 파라미터 : title
*/-->

<head th:fragment="headFrag(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script th:src="@{/js/lib/jquery-3.6.4.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/style.css(ver=1.0)}">
</head>


<body>

  <!--/* Link URL Expression : @{} (경로 작성할 때 사용) */-->
  
  
  
  <div th:fragment="gnbFrag">
    <!--*/ if 쓰는 방법 : if, unless 둘이 똑같은 조건으로 써줘야 함.(if-else) /*-->
    <div th:if="${#strings.isEmpty(session.loginId)">
      <span><a th:href="@{/user/login.html}">로그인</a></span>
      <span><a th:href="@{/user/agree.html}">회원가입</a></span>
    </div>
    <div th:unless="${#strings.isEmpty(session.loginId)">
      <span th:text="|${session.loginId}님 반갑습니다|"></span>
      <span><a href="@{/user/logout.do}">로그아웃</a></span>
    </div>
    <ul>
      <li><a th:href="@{/bbs/list.do}">BBS</a></li>
    </ul>
  </div>
  
  
  
  <img th:src="@{/images/animal1.jpg}" width="100px;">
  <div id="picture"></div>

</body>
</html>